COLLEGE_TASKS_PAGE_ID=
NOTION_CONNECTION_TOKEN=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

AUTHORIZED_EMAIL=seu.email@gmail.com
JWT_SECRET=super_secret_jwt_key
PORT=3000
FRONTEND_URL=http://localhost:5173
# ID da pagina alvo contendo as tarefas e revisoes
NOTION_TARGET_PAGE_ID=
